################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Tetris/bin
/Tetris/obj
/packages/jquery.TypeScript.DefinitelyTyped.3.1.2
/.vs
